@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
    height: 90px;
    border: 2px solid black;
    padding-top: 20px;
  }

  .logo{
    position: relative;
    right: 90px;
    top: 6px;
  }
  
  .logo img {
    width: 47px;
    height: auto;
  }
  
  .logo p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.37em;
    font-weight: 600;
    position: relative;
    top: 10px;
    margin-left: 24px;
    
  }
  
  .menu {
    white-space: nowrap; /* Evita che il menu vada a capo */
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

  header .container{
    padding-left: 50px;
  }
  

  .work-sans{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }